.optionsContainer li label {
	padding-top: 6px;
}
.jqTransformSelectWrapper div span{
	padding: 8px 0px 0px 4px;
}
.datequestion {
	float:left;
	width:100px;
	text-align: left;
	padding-left: 15px;
}
.dateortime {
	width:200px;
}

.dateortime .jqTransformInputWrapper{
	width:110px !important;
}

* html .overlay {
	width:101%;
}


* html .hr {
	position:relative;
}


.navbuttonsContainer .btnWrapper {
	min-width: 130px;
	padding-right: 10px;
	float: left;
	position:relative;
}

.theme_img_wrapper {
	height:auto;
	width:auto;
	overflow:hidden;
	position:absolute;
	right:10px;
	top:10px;
}
.theme_img_wrapper_with_custom_fill {
	height:auto;
	width:auto;
	overflow:hidden;
	position:absolute;
	right:320px;
	top:10px;
}

.overlay {
	position:fixed;
	top:0;
	left:0;
	z-index:88;
	width:100%;
	height:100%;
	background:#fff;
	opacity: .85; /* Standard: FF gt 1.5, Opera, Safari */
	filter: alpha(opacity=85); /* IE lt 8 */
	-ms-filter: "alpha(opacity=85)"; /* IE 8 */
	-khtml-opacity: .85; /* Safari 1.x */
	-moz-opacity: .85; /* FF lt 1.5, Netscape */

}

* html .overlay {
	position:absolute !important;
}
.gridHeader {
	text-align:center;
}
.overlay .preloader {
	width:200px;
	text-align:center;
	height:100px;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-100px;
	margin-top:-50px;
	padding:4px;
	z-index:999;
}
.overlay .preloader img {
	clear:both;
}

.formContainer {
	overflow:visible;
	position:relative;
	clear:both;
}

.step_btn {
	background: #222 url('../../img/alert-overlay.png') repeat-x;
	display: inline-block;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	background-color:#5dab2c;
	text-decoration:none;
}

div.powered img,
.messageBox img.logo {
	max-height:90px;
	max-width;300px;
	display: inline-block;
	background: #fff;
	padding:2px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.messageBox {
	border:3px solid;
	clear:both;
	min-height:370px;
	height:inherit;
	left:50%;
	margin-left:-350px;
	margin-top:-175px;
	overflow:hidden;
	padding-top:30px;
	padding-bottom:20px;
	position:absolute;
	text-align:center;
	top:50%;
	width:700px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-moz-box-shadow: 5px;
	-webkit-box-shadow: 5px;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.calendaricon {
	position:absolute;
	float:left;
	width:60px;
	height:60px;
	border:1px solid red;
}

form {
	overflow:visible;
}
.jqTransformSelectWrapper ul {
	height:auto !important;
	overflow: hidden;
}
.jqTransformSelectWrapper {
	margin:10px;
}
form.jqtransformdone div.overflow_visible {
	overflow:visible !important;
	z-index:10;
}
.requiredItemShow {
	float:none;
}
.dateortime a.dp-choose-date{
	background: url('../../img/calendar.png') right no-repeat;
	background-repeat:no-repeat;
	position:absolute;
	top:0px;
	left:110px;
	width:24px;
	height:24px;
	overflow:visible;
	margin-left:3px;
	text-indent:-9999px;
	display:block;
}
#surveyTitle {
	margin:40px 10px 10px !important;
}

input .datepicker{
	width:110px;
}

.display_none {}

#leadFormContainer {
	font-size:12px;
	color: #000000;
}

textarea{
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
}


div.DesignPageQuestImage{
margin-left : 20px !important;

}
table.matrix{
	border-collapse: separate;
	border-spacing: 10px;
}
table.matrix td{
	max-width: 200px;
	word-wrap: break-word;
}
/* FOR IE: DIV AND SPAN inside a td does not respect the break-word defined in table.matrix td */
table.matrix td div{
	max-width: 200px;
	word-wrap: break-word;
}
table.matrix td span{
	max-width: 200px;
	word-wrap: break-word;
}
table.matrix tr{
	max-width: 200px;
	word-wrap: break-word;
}
.optionsContainer li label {
	float: none!important;
	padding-left: 27px;
}
.errorLeadFormLayer {
	display: block;
	text-align: center;
}
#errorLeadForm {
	font-weight: bold;
}
.jqTransformInputInner div { 
	overflow: visible !important;
}
.third_party_filling_survey {
	position:fixed;
	top:12px;
	right:12px;
	width:270px;
	height:auto;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	background-color:#76A3D1;
	font-size:11px;
	padding:5px;
	text-align:center;
	z-index:9999999 !important;
}
.filling_name{
	margin:4px;
	height:15px;
	overflow:hidden;
	clear:both;
	color:white;
}
div.powered img,
.messageBox img.logo {
	max-height:90px;
	max-width:300px;
	margin:0 !important;
	display: inline-block !important;
	background: #fff !important;
	padding:2px !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5) !important;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5) !important;
}

.powered {
	clear:both !important;
	font-size:10px !important;
	margin:0 !important;
	overflow:hidden !important;
	padding:15px !important;
	position:relative !important;
	text-align:right !important;
	z-index:79 !important;
	width:300px;
	float:right;
}