
	.listwrapper {
height:300px;
width:500px;
border:1px solid #000;
overflow-y:scroll;
margin:10px;
}

.listwrapper ul,.listwrapper ul li {
list-style:none;
margin:0;
padding:0;
}

#collectionHubWizardContainer {
margin:10px;
}