.helpdialogButton { 
	height:22px;
	position:absolute;
	right:5px;
	top:0;
	width:50px;
}

.helpdialogButton a {
	background:url('/imgs/icons/help.png') no-repeat center left;
	padding-left:20px;
	padding-top:3px;
	height:20px;
	text-decoration:none;
	display:block;
}

.helpdialogButton a:hover {
	text-decoration:underline;
}

#AppBodyHeader{
	display: none;
}       
		
.notcontact{
	font-weight:bold;
	text-align:center;
}   
.listwrapper {
	height:300px;
	width:500px;
	border:1px solid black;
	overflow-y:scroll;
	margin:10px;            
}

.listwrapper ul,.listwrapper ul li {
	list-style:none;
	margin:0;
	padding:0;
}
#success {
	margin:80px 10px;
	text-align:center;      
}

body.Custom27Tab .tabNavigation .tab .currentTab, body.Custom27Tab #motifCurve, body.Custom27Tab #motifCurve #mc_l, body.Custom27Tab #motifCurve #mc_r{
	display: none;  
}
body.Custom27Tab {
	margin: 0;
}
.listViewportWrapper .listViewport .topNav{
	width:840px;
}
.x-panel{
	width:840px;
}
.listViewport .x-panel-body{
	width:840px;
}
.x-grid3{
	width:840px;
	height:268px;
}
body.Custom27Tab .listViewport .topNav .linkBar{
	margin-top:0px;
}
listBody{
	height:268px; 
}
x-panel-body x-panel-body-noheader{
	height:268px; 
}
x-grid3-scroller{
	height:268px; 
}

.listButtons{
	display: none !important;
}
#listContactError{
	font-size:25px;
	height:378px;
	margin:50px;
	text-align:center;
	width:771px;
	display: none;
}